<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
    <!-- The custom method 'format_date' is used to calculate the end date and format it correctly -->
    <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p>
  </div>
</section>